In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_column',50)
%matplotlib inline

## Series --> Similar to 1d array

In [3]:
s=pd.Series([7,'Atif',-1,0.9])
s

0       7
1    Atif
2      -1
3     0.9
dtype: object

### We can even assign index when creating the series

In [4]:
s=pd.Series([7,'Atif',-1,0.9],index=['A','B','C','D'])
s

A       7
B    Atif
C      -1
D     0.9
dtype: object

### Series can even convert dictionary

In [5]:
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100,
     'Austin': 450, 'Boston': None}
cities_series=pd.Series(d)
cities_series

Austin            450.0
Boston              NaN
Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
dtype: float64

In [6]:
cities_series['Austin']

450.0

In [7]:
cities_series[['Chicago','Portland','Boston']]

Chicago     1000.0
Portland     900.0
Boston         NaN
dtype: float64

In [8]:
cities_series[cities_series<1000]

Austin      450.0
Portland    900.0
dtype: float64

In [9]:
less_than_1000=cities_series<1000
print(less_than_1000)
print('\n')
print(cities_series[less_than_1000])

Austin            True
Boston           False
Chicago          False
New York         False
Portland          True
San Francisco    False
dtype: bool


Austin      450.0
Portland    900.0
dtype: float64

## We can change the values in the Series on the fly

In [10]:
# changing based on index
print('Old value',cities_series['Boston'])
cities_series['Boston']=1230
print('New Value',cities_series['Boston'])

Old value nan
New Value 1230.0

In [11]:
#changin values using boolean logic
print(cities_series[cities_series<1000])
print('\n')
cities_series[cities_series<1000]=750
print(cities_series[cities_series<1000])

Austin      450.0
Portland    900.0
dtype: float64


Austin      750.0
Portland    750.0
dtype: float64

### To check whether an is in series or not

In [12]:
print('Seattle' in cities_series)

False

In [13]:
print('Boston' in cities_series)

True

### Mathmatical operation can be done using scalars and functions

In [14]:
# dividing citie values by 3
cities_series/3

Austin           250.000000
Boston           410.000000
Chicago          333.333333
New York         433.333333
Portland         250.000000
San Francisco    366.666667
dtype: float64

In [15]:
#squaring cities values
np.square(cities_series)

Austin            562500.0
Boston           1512900.0
Chicago          1000000.0
New York         1690000.0
Portland          562500.0
San Francisco    1210000.0
dtype: float64

### We can add two series together , which return a union of the two series with addition occuring on shared index values.
### Note:  values on either series that didn't have a shared index will produce a NULL/NaN

In [16]:
print(cities_series[['Chicago','New York','Portland']])
print("\n")
print(cities_series[['Austin','New York']])
print(cities_series[['Chicago','New York','Portland']]+cities_series[['Austin','New York']])

Chicago     1000.0
New York    1300.0
Portland     750.0
dtype: float64


Austin       750.0
New York    1300.0
dtype: float64
Austin         NaN
Chicago        NaN
New York    2600.0
Portland       NaN
dtype: float64

### NULL checking can be performed using isnULL and notNull

In [17]:
#returns a boolean series indicating which values aren't NULL
cities_series.notnull()

Austin           True
Boston           True
Chicago          True
New York         True
Portland         True
San Francisco    True
dtype: bool

In [18]:
cities_series['Boston']=None

In [19]:
cities_series.notnull()

Austin            True
Boston           False
Chicago           True
New York          True
Portland          True
San Francisco     True
dtype: bool

In [22]:
#usinf boolean logic to grab the NULL cities
print(cities_series.isnull())
print('\n')
print(cities_series[cities_series.isnull()])

Austin           False
Boston            True
Chicago          False
New York         False
Portland         False
San Francisco    False
dtype: bool


Boston   NaN
dtype: float64